html {
  --color-accent: oklch(65% 50% 0);
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    accent-color: var(--color-accent);
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 5%;
    /* display: contents; */

    h1, h2, h3, h4, h5, h6 {
      line-height: 1.1;
      text-wrap: balance;
    }

    h1 {
      font-size: 400%;
      font-weight: bold;
      margin-bottom: 0.5em;
    }

    h2 {
      font-size: 200%; 
      font-weight: bold;
      margin-bottom: 0.3em;
    }

    h3 {
      font-size: 150%;
    }

    ol li::marker {
      font-weight: bold;
      font-size: 100%;
    }

    p {
      margin-bottom: 1em;
    }

    nav {
      display: flex;
      margin-bottom: auto;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: oklch(80% 3% 200);
    }

    nav ul {
      display: contents;
    }

    nav li {
      display: contents;
    }

    nav a {
      flex: 1;
      flex-direction: row;
      text-decoration: none;
      color: inherit;
      text-align: center;
      padding: 0.5em;
    }

    nav a:hover {
      border-bottom: 0.4em solid var(--color-accent);
      background-color: oklch(from var(--color-accent) 95% 5% h);
      padding-bottom: 0.1em;
    }

    .current {
      font-weight: bold;
      border-bottom: 0.4em solid oklch(85% 3% 200);
      padding-bottom: 0.1em;
    }

    form {
      display: grid;
      font: inherit;
      grid-template-columns: auto 1fr;
      gap: 1em;
    }

    label {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / -1;
    }

    input {
      display: block; 
      width: 100%; 
      box-sizing: border-box; 
    }

    textarea {
      display: block; 
      width: 100%; 
      box-sizing: border-box; 
    }

    button {
      grid-column: 1 / -1;
      display: block; 
      width: 100%; 
      box-sizing: border-box;
    }

    .projects {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
      gap: 1em;
    }

    .projects article {
      grid-template-rows: subgrid;
      grid-row: span 3;
    }

    .projects h2 {
      margin: 0;
    }
  }